:root {
    --primary: #5465ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f3f4f6;
}

h1 {
    text-align: center;
    color: var(--primary);
}

h2 {
    text-align: center;
    color: var(--primary);
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--primary);
    color: white;
}

.form-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
}

h2.text-primary{
    padding-top:5px;
}

h1.sub_comb{
    padding-bottom:5px;
}
.text-input {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid #acacac;
    border-radius: 999px;
    padding: 5px 15px;
    padding-right: 0px;
    margin: 5px auto;
}

.text-input i {
    color: var(--primary);
}

.text-input div {
    height: 90%;
    width: 1px;
    background-color: #999;
}

.text-input input {
    outline: none;
    border: none;
    width: 40%;
}

.btn {
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
}

.btn-primary:hover {
    background-color: #3243c0;
}

/* Add styles for the generated dropdowns */
.drpclass {
    margin-top: 10px;
}

.drpclass label {
    font-weight: bold;
    margin-bottom: 5px;
}

.drpclass select {
    width: 70%;
    padding: 5px;
    border: 1px solid #acacac;
    border-radius: 5px;
    outline: none;
}
/* Add styles for the "Add Combination" button container */
#addCombinationBtnContainer {
    text-align: center;
    margin-top: 10px;
}

.msg{
    padding-left: 10px;
}

/* Style for success and error messages */
.success-msg {
    color: green;
    margin-top: 10px;
}

.error-msg {
    color: red;
    margin-top: 10px;
}