@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;900&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.4);
    padding: 40px 5px;
    width: 80%;
    /* height: 600px; */
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }

.card h1{
   font-size: 50px;
   text-align: center;
   padding-bottom: 30px;
}

.card h2{
   font-size: 30px;
   padding-top: 30px;
   text-align: center;
}

.card img{
   width: 400px;
   display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.filter{
    margin-left: 20px;
    margin-right: 20px;
}

#add{
   margin-left: 50px;
   margin-bottom: 10px;
}

.filter select{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    margin-right: 40px;
}

button{
    width: 80px;
    height: 30px;
    border-radius: 15px;
    font-size: 20px;
    margin-right: 5%;
}

.filter label{
    font-size: 20px;
    padding-right: 10px;
}

table{
    width: 90%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
}

th{
    padding: 20px 30px;
    letter-spacing: 2px;
    font-size: 25px;
}

td{
    padding: 15px 30px;
    letter-spacing: 2px;
    font-size: 18px;
}

tr:nth-child(even){
    background-color: #ececec;
}





nav{
    background: black;
    width: 100%;
    padding: 10px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    
 }

 .logo{
    width: 120px;
 }

 .user{
   display: flex;
 }

 .user p{
   padding-top: 5px;
   color: #fff;
   font-size: 20px;
   letter-spacing:2px;
 }

 .user-pic{
   margin-left: 10px;
   margin-right: 2px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
 }

 .user img{
   padding-top: 10px;
   width: 15px;
   height: 25px;
   cursor: pointer;
 }

 nav span{
   color: #fff;
 }
 
 nav ul{
    width: 100%;
    text-align: right;
 }

 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
 }

 nav ul li a{
    color: #fff;
    text-decoration: none;
 }

 .sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 1%;
    width: 250px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;  
 }

 .sub-menu-wrap.open-menu{
    max-height: 400px;
 } 

 .sub-menu{
    background:#c1c1c1;
    padding: 10px;
    margin: 10px;  
    border-radius: 15px 0px 15px 15px;
 }

 .user-info{
    display: flex;
    align-items: center;
 }


 .user-info svg{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
 }

 .sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #000000;
    margin: 15px 0 10px;
 }

 .sub-menu-link{
    
    border-radius: 15px;
    display: flex; 
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 10px 0;
    transition: transform 0.5s ease;
 }

 .sub-menu-link:hover {
   transition: transform 0.5s ease;
   background-color: #e5e5e5;
    transform: translateX(5px);
    
 }

 .sub-menu-link p{
    width: 100%;
    font-size: 20px;
 }

 .sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
 }

 .sub-menu-link:hover p{
    font-weight: 600;
 }